html,
body,
button,
select {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html,
body {
    display: block;
    width: 100%;
    height: 100%;
    background-color: #212121!important;
    color: #fff!important;
    overflow: hidden!important;
}

ul,
li {
    list-style-type: none;
    text-align: left;
    color: #fff;
}

#nav {
    padding: 30px;

    a {
        font-weight: normal;
        color: #c5c5c5;

        &.router-link-exact-active {
            font-weight: bold;
            color: #42b983;
        }
    }
}

.dashboard, .about {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    overflow: hidden;
    box-sizing: border-box;
    padding: 10px;
    // user-select: none;

    .content{
        flex: 1;
      }
}

/***  HELPERS ***/
.has-text-green {
    color: #42b983!important;
}