<template>
  <div class="about is-flex">
      <div class="content has-text-centered">
        <h2 class="has-text-green has-text-centered">Ameno Group</h2>
        <ul class="menu-list is-marginless">
          <li class="has-text-centered">Caio Santos Americo</li>
          <li class="has-text-centered">Luis Felipe</li>
          <li class="has-text-centered">William Cardoso</li>
          <li class="has-text-centered">Joao Vitor</li>
          <li class="has-text-centered">Gustavo Morales</li>
        </ul>
      </div>
  </div>
</template>
