<template>
  <main class="main">
    <dashboard-app msg="Welcome to Your Vue.js App"/>
  </main>
</template>

<script>
// @ is an alias to /src
import Dashboard from '@/components/Dashboard.vue';

export default {
  name: 'Home',
  components: {
    DashboardApp: Dashboard,
  },
};
</script>

<style lang="scss" scoped>
main {
  // display: flex;
  // flex: 1;
  // flex-wrap: wrap;
  // flex-direction: column;

  flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    height: 100%;
    box-sizing: border-box;
    max-height: 100%;
    flex-direction: column;
    overflow: auto;
}
</style>
