<template>
  <header class="header">
    <div class="wrapper">
    <a class="logo" href="/">IA <strong>Ameno</strong></a>
    </div>
  </header>
</template>

<script>
export default {
  name: 'Header',
};
</script>

<style scoped lang="scss">
.header{
    // width: 100%;
    // background: #000;
    // color: white;
    // text-align: left;
    // padding: 8px 15px;

    max-height: 65px;
    min-height: 65px;
    width: 100%;
    flex: 1;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    // -webkit-user-select: none;
    // -moz-user-select: none;
    // -ms-user-select: none;
    // user-select: none;
    background: #000;
    color: white;
    padding: 8px 15px;
}

.wrapper {
    margin-block-start: .8em;
    margin-block-end: .8em;
}

.logo{
    color: white;
    text-decoration: none;
}
</style>
