<template>
  <div class="dashboard is-flex">
    <section class="left-board">
      <div class="content">
        <h2 class="has-text-green">Topics</h2>
        <div class="navbar-menu">
          <div class="navbar-start">
            <a class="navbar-item selected">
              Most Relevant Logs
            </a>
            <a class="navbar-item">
              Critical errors
            </a>
          </div>
        </div>
      </div>
    </section>
    <section class="right-board">
      <div class="content">
        <h2 class="has-text-green">Messages</h2>
        <div v-for="(message,index) in messages" :key="index">
          <div v-if="index < 15">
          <p class="ranking-messages has-text-white is-size-5 is-marginless">
            <span v-if="message.type === '1'" class="tag is-danger has-text-white">
              {{index + 1}}</span>
            <span v-else class="tag is-info has-text-white">{{index + 1}}</span>
            {{message.message}}
          </p>
          <p class="help-link is-size-7 is-marginless" v-if="message.type === '1'
          && redirectLinks[index]">
            This may help you: <a target="_blank" :href="`${redirectLinks[index]}`">
              {{redirectLinks[index]}}</a>
          </p>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import Utilities from '../services/utility';

export default {
  name: 'Dashboard',
  components: {
  },

  data() {
    return {
      messages: [],
      redirectLinks: [],
    };
  },
  computed: {
    getHelpLinks() {
      return this.$store.getters['utilities/getHelpLinks'];
    },
    getLoggerMessages() {
      return this.$store.getters['utilities/getLoggerMessages'];
    },
  },
  created() {
    this.messages = this.getLoggerMessages;
    this.redirectLinks = this.getHelpLinks;

    if (this.messages.length <= 0) {
      Utilities.getLogs()
        .then(async (response) => {
          this.$store.dispatch('utilities/commitLoggerMessages', response.data);

          this.messages = response.data;
          this.redirectLinks = this.getHelpLinks;
          let errorState = false;

          if (this.redirectLinks.length <= 0) {
            for (let index = 0; index < this.messages.length; index += 1) {
              if (errorState) {
                break;
              }
              if (response.data[index].type === '1') {
                // eslint-disable-next-line no-await-in-loop
                await Utilities.getHelpLink(response.data[index].message).then((res) => {
                  if (res.data.items.length) {
                    this.$store.dispatch('utilities/commitHelpLinks', res.data.items[0].link);
                  } else {
                    this.$store.dispatch('utilities/commitHelpLinks', false);
                  }
                })
                  // eslint-disable-next-line no-loop-func
                  .catch(() => {
                    errorState = true;
                    this.$store.dispatch('utilities/commitHelpLinks', false);
                    this.$store.dispatch('utilities/commitHelpLinks', 'https://pt.stackoverflow.com/questions/178857/tratar-erro-uncaught-typeerror-cannot-read-property-of-value-undefined');
                  });
              }
            }
            this.redirectLinks = this.getHelpLinks;
          }
        });
    }
  },
  beforeCreate() {

  },
  mounted() {},
};
</script>

<style scoped lang="scss">
.left-board{
  flex: 1;
      height: 100%;
      border-right: 1px solid #fff;
}
.right-board {
  flex: 3;
      height: 100%;
      overflow-x: hidden;
      overflow-y: auto;
}
.content {
  padding: 15px;
}

.navbar-menu{
.navbar-start{
  flex: 1;
    flex-direction: column;
    padding: 10px 25px;
}
.navbar-item{
    width: 100%;
    flex: 1;
    color: #c5c5c5;
    font-weight: 600;

    &:hover{
      background: #404040;
    }

    &.selected{
      color: #fff;
      border-left: 4px solid #fff;
      background: #404040;
    }
}
}

.ranking-messages{
  padding: 8px;
}

.help-link{
    padding-left: 25px;

    a {
      color: #8bb7ff;

      &:hover {
        color: #a6c8ff;
      }
    }
  }
</style>
