<template>
  <div id="app">
    <header-app></header-app>
    <div id="nav">
      <router-link to="/">Home</router-link> |
      <router-link to="/about">About</router-link>
    </div>
    <router-view/>
  </div>
</template>

<script>
// Components
import Header from '@/shared_components/Header.vue';

export default {
  components: {
    HeaderApp: Header,
  },
};
</script>

<style lang="scss">
#app {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    position: relative;
}

#nav {
    width: 100%;
    text-align: center;
    // user-select: none;
}
</style>
